doctype html 
html    
    head 
        title Employeebase
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
                integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    body
        script(src="/js/main.js") 
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                a.navbar-brand(href='/') Home
                a.navbar-brand(href='/employee/add') Add Employee
    .container 
        block content 
    hr 
    footer 
        p Créer par Aziz Hachoum  &copy; 2023
    